/* ------ GENERALES ------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    line-height: normal;
}

ul,
li {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 18px;
}
