/* ------ GENERALES ------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    line-height: normal;
}

ul,
li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
}

a {
    text-decoration: none;
}
