/* ------ PÁGINA PRODUCTOS ------*/

.container-products {
    //height: 500px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //padding: 50px 0;
    //padding: 20px 0 0;
    padding: 0;
    //border: 1px solid red;
    justify-content: space-between;
}

// ****** PRODUCTOS ******

#container-shopping-products {
    width: 65%;
    //height: 400px;
    height: auto;
    h2 {
        text-align: center;
    }
    span {
        font-weight: 600;
        color: $tertiary-color;
        text-transform: uppercase;
    }
    //border: 1px solid blue;
}

//Encabezados de los productos (Lista)
.products-title-table {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    //padding-top: 20px;
    //border: 1px solid red;
}

.products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%; //550px;
}

//Productos
.products {
    width: 250px;
    height: 310px;
    //padding-top: 20px;
    list-style-type: none;
    //border: 1px solid aqua;
}

//Contenedor de imághenes
.cont-images {
    width: 100%;
    height: 55%; //200px;;
    border: 2px solid $tertiary-color;
}

.img-Product {
    display: block;
    //margin-left: auto;
    //margin-right: auto;
    margin: auto auto;
    padding-top: 10px;
    width: 70%;
    height: 100%;
}

//Contenedor de la información del productos
.cont-info-prod {
    width: 100%;
    height: 45%;
    border: 2px solid $primary-color;
    border-top: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 4px;
    h3 {
        text-align: center;
        font-size: 16px;
    }
}
//Precio
#h3-price {
    color: $tertiary-color;
    font-weight: 600;
    font-size: 20px;
}

//Botón "Comprar"
.btn-Buy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: $secondary-color;
    color: $font_color-primary;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    padding: 6px;

    &:hover {
        opacity: 0.7;
    }
}

// ****** CARRITO DE COMPRAS ******

#carrito-Dalet {
    width: 35%;
    min-height: 600px;
    height: 100%;
    border: 2px solid $font_color-secondary;

    /*h2 {
        color: $secondary-color;
        margin: 0 auto;
        padding-top: 10px;
        text-align: center;
        //text-transform: uppercase;
        //font-size: 26px;
    }*/

    color: $secondary-color;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

#container-shopping-cart {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    */
    /*
    width: 35%;
    min-height: 600px;
    height: 100%;
    */
    width: 100%;
    min-height: 500px;
    height: 100%;

    //border: 2px solid red;
    border-radius: 6px;

    /*
    h2 {
        color: $secondary-color;
        margin: 0 auto;
        padding-top: 10px;
        text-align: center;
        //text-transform: uppercase;
        //font-size: 26px;
    }
    */
}

//Botón X para quitar el produucto del carrito de compras
.btnRemoveItem {
    display: inline;
    /*position: relative;
    top: 10px;
    left: 88%;
    */
    margin-top: 2%;
    margin-left: 90%;

    border-radius: 50%;
    width: 26px;
    height: 26px;
    color: $secondary-color;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    //background-color: black;
}

//Contenedor con la foto y los Datos del producto
.container-selected-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
    height: 35%;
    border: 3px solid $tertiary-color;
    border-radius: 3px;
    margin: 5px auto;

    /*h3 {
        display: inline-block;
        //text-align: center;
        margin: 0 auto;
    }*/
}

//Contenedor de la Foto del Producto
.selected-product-photo {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    */
    //background-color: $secondary-color;
    width: 30%;
    height: 100%;
    img {
        display: block;
        margin: auto auto;
        width: 100%;
        height: auto;
    }
}

//Contenedor de la Info del Producto
.list-selected-product {
    width: 70%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
}

//Información del produto
.selected-product {
    //display: inline-block;
    width: 100%;
    margin: 10px 0;
    //margin: 10px 0 0 20px; //Arriba-Derecha-Abajo-Izquierda
}

//Precio del carrito
.cart-name,
.cart-description,
.cart-price {
    text-align: left;
    color: $tertiary-color;
    font-size: 16px;
    padding-left: 10px;
    font-weight: 600;

    span {
        color: $primary-color;
    }
}

//Botonera del carrito
.cart-buttons {
    width: 100%; //130px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    //background-color: #000000;
    //margin-top: 20px;
    //padding: 10px 20px;
    border-radius: 6px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 5px;
}

#dataProduct {
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 6px;

    //Contador del carrito
    h3 {
        color: $font_color-primary;
        display: inline-block;
        margin: 0 auto;
        padding: 0 15px;
    }
}

//Botones del carrito
.btn-add,
.btn-sustract {
    display: inline-block;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    background-color: $tertiary-color;
    //margin: 5px;
}

//Botón para finalizar la compra
.container-checkout {
    //border: 1px solid red;
    margin-top: 15px;
    margin-bottom: 15px;
}

#totalPrice {
    text-align: left;
    padding: 20px 10px;
    font-weight: 600;
    color: $tertiary-color;
}

#btn-checkout {
    width: 200px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    font-weight: 600;
    color: $font_color-primary;
    background-color: $secondary-color;

    &:hover {
        opacity: 0.7;
    }
}
