/* ------ VARIABLES ------*/

//Colores Principales
$primary-color: #000000; //Gris
$secondary-color: #ff8800; //Naranja
$tertiary-color: #337cae; //Azul

$font_color-primary: #ffffff; //Negro
$font_color-secondary: #c4c4c4; //Negro
